<main>
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
              <a routerLink="" class="logo d-flex align-items-center w-auto">
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <span class="d-none d-lg-block text-uppercase">Vocal</span>
              </a>
            </div>
            <!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Đăng Nhập
                  </h5>
                  <p class="text-center small">
                    Nhập tài khoản và mật khẩu để đăng nhập
                  </p>
                </div>

                <form class="row g-3" [formGroup]="signInForm" (ngSubmit)="signIn()">
                  <div class="col-12">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" [ngClass]="
                        (signInForm.get('username')!.touched ||
                          signInForm.get('username')!.dirty) &&
                        signInForm.get('username')!.errors
                          ? 'is-invalid'
                          : '' ||
                            ((signInForm.get('username')!.touched ||
                              signInForm.get('username')!.dirty) &&
                              !signInForm.get('username')!.invalid)
                          ? 'is-valid'
                          : ''
                      " formControlName="username" />
                  </div>

                  <div class="col-12">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" [ngClass]="
                        (signInForm.get('password')!.touched ||
                          signInForm.get('password')!.dirty) &&
                        signInForm.get('password')!.errors
                          ? 'is-invalid'
                          : '' ||
                            ((signInForm.get('password')!.touched ||
                              signInForm.get('password')!.dirty) &&
                              !signInForm.get('password')!.invalid)
                          ? 'is-valid'
                          : ''
                      " formControlName="password" />
                  </div>

                  <div class="col-12 mt-4">
                    <button class="btn btn-dark w-100" type="submit" [ngClass]="!signInForm.valid ? 'disabled' : ''">
                      <span *ngIf="!btnLoading">Đăng Nhập</span>
                      <span *ngIf="btnLoading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                      </span>
                    </button>
                  </div>

                  <div class="col-12">
                    <p class="small mb-0">
                      Quên mật khẩu?
                      <a routerLink="forget-password">Nhận mã</a>
                    </p>
                  </div>

                  <div class="col-12">
                    <p class="small mb-0">
                      Chưa có tài khoản
                      <a routerLink="register">Tạo mới</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- End #main -->