<main id="main" class="main">
    <div *ngIf="!loading" class="loading-spinner d-flex justify-content-center my-auto">
        <div class="spinner-border my-auto text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <div *ngIf="loading" class="content">
        <div class="row">
            <div class="pagetitle col-lg-8 col-md-8 col-sm-12 col-12">
                <h1>Công Việc Đã Hoàn Thành</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Trang Chính</li>
                        <li class="breadcrumb-item">Công Việc</li>
                        <li class="breadcrumb-item active">Công Việc Đã Hoàn Thành</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->

            <div class="search col-lg-4 col-md-4 col-sm-12 col-12">
                <form [formGroup]="searchForm" (ngSubmit)="searchDoneProjects()">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                            <input type="text" class="form-control text-muted bg-transparent" formControlName="search"
                                placeholder="Tìm kiếm">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                            <button type="submit" class="btn btn-dark fontweight-bold w-100 text-truncate">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Page Title -->

        <div *ngIf="projects">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let project of projects">
                    <div class="card border-success mt-3">
                        <div class="card-header bg-dark text-warning text-center fontweight-bold rounded-b">
                            Dự Án</div>
                        <a routerLink="../detail/{{ project.id }}">
                            <div class="row">
                                <div class="col-ld-6 col-md-6 col-sm-6 my-auto">
                                    <div class="thumbnail my-3">
                                    </div>
                                </div>
                                <div class="col-ld-6 col-md-6 col-sm-6 my-auto">
                                    <div class="card-body text-center p-0">
                                        <i class="ri-indent-increase font-size-50"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="card-footer bg-transparent border-success">
                            <h5 class="fontweight-bold text-truncate">{{ project.name }}</h5>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                    <p class="card-text fontweight-italic text-truncate">{{ project.createDate |
                                        date:
                                        'shortDate' }}
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-right">
                                    <span class="badge rounded-pill bg-success p-2 w-100 text-truncate">{{
                                        project.status | status }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav *ngIf="totalPage > 0" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a (click)="previousPage()" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li *ngFor="let item of [].constructor(totalPage); let i = index"
                        [ngClass]="{ active: i + 1 == pageNumber }" class="page-item">
                        <a class="page-link" (click)="specificPage(i + 1)">{{ i + 1 }}</a>
                    </li>
                    <li class="page-item">
                        <a (click)="nextPage()" class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div *ngIf="!projects || projects.length == 0">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Không có dự án nào được tìm thấy
            </div>
        </div>
    </div>
</main>