<main id="main" class="main">

    <div class="pagetitle fontweight-bold">
        <h1>Trang Chủ</h1>
        <nav>
            <ol class="breadcrumb fontweight-italic">
                <li class="breadcrumb-item">Tranh Chính</li>
                <li class="breadcrumb-item active">Trang Chủ</li>
            </ol>
        </nav>
    </div>

    <div class="section">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <app-vocal-chart></app-vocal-chart>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <app-project-chart></app-project-chart>
            </div>
        </div>
    </div>

</main>