<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a routerLink="" class="logo d-flex align-items-center w-auto">
                                <!-- <img src="assets/img/logo.png" alt=""> -->
                                <span class="d-none d-lg-block text-uppercase">Vocal</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Quên Mật Khẩu</h5>
                                    <p class="text-center small">Nhập email của bạn để nhận mã xác nhận</p>
                                </div>

                                <form *ngIf="!isSent" class="row g-3" [formGroup]="forgetPasswordForm"
                                    (ngSubmit)="forgetPassword()">

                                    <div class="col-12">
                                        <label class="form-label">Email</label>
                                        <input type="text" class="form-control" [ngClass]="(forgetPasswordForm.get('email')!.touched || forgetPasswordForm.get('email')!.dirty)
                                        && forgetPasswordForm.get('email')!.errors ? 'is-invalid' : '' || 
                                        (forgetPasswordForm.get('email')!.touched || forgetPasswordForm.get('email')!.dirty) &&
                                        !forgetPasswordForm.get('email')!.invalid ? 'is-valid' : ''"
                                            formControlName="email">
                                    </div>

                                    <div class="col-12 mt-4">
                                        <button class="btn btn-dark w-100" type="submit"
                                            [ngClass]="!forgetPasswordForm.valid ? 'disabled' : ''">Gửi</button>
                                    </div>

                                </form>

                                <form *ngIf="isSent" class="row g-3 pt-2" [formGroup]="verifyPasswordForm"
                                    (ngSubmit)="verifyPassword()">

                                    <div class="col-12">
                                        <label class="form-label">Mã Xác Nhận</label>
                                        <input type="text" class="form-control" id="otp" [ngClass]="(verifyPasswordForm.get('otp')!.touched || verifyPasswordForm.get('otp')!.dirty)
                                            && verifyPasswordForm.get('otp')!.errors ? 'is-invalid' : '' || 
                                            (verifyPasswordForm.get('otp')!.touched || verifyPasswordForm.get('otp')!.dirty) &&
                                            !verifyPasswordForm.get('otp')!.invalid ? 'is-valid' : ''"
                                            formControlName="otp">
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Mật Khẩu Mới</label>
                                        <input type="password" class="form-control" id="newPassword" [ngClass]="(verifyPasswordForm.get('newPassword')!.touched || verifyPasswordForm.get('newPassword')!.dirty)
                                            && verifyPasswordForm.get('newPassword')!.errors ? 'is-invalid' : '' || 
                                            (verifyPasswordForm.get('newPassword')!.touched || verifyPasswordForm.get('newPassword')!.dirty) &&
                                            !verifyPasswordForm.get('newPassword')!.invalid ? 'is-valid' : ''"
                                            formControlName="newPassword">
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Xác Nhận Mật Khẩu</label>
                                        <input type="password" class="form-control" id="rePassword" [ngClass]="(verifyPasswordForm.get('rePassword')!.touched || verifyPasswordForm.get('rePassword')!.dirty)
                                            && verifyPasswordForm.get('rePassword')!.errors ? 'is-invalid' : '' || 
                                            (verifyPasswordForm.get('rePassword')!.touched || verifyPasswordForm.get('rePassword')!.dirty) &&
                                            !verifyPasswordForm.get('rePassword')!.invalid ? 'is-valid' : ''"
                                            formControlName="rePassword">
                                    </div>

                                    <div class="col-12 mt-4">
                                        <button class="btn btn-dark w-100" type="submit"
                                            [ngClass]="!verifyPasswordForm.valid ? 'disabled' : ''">Xác Nhận</button>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->